body {
    background: linear-gradient(rgb(117, 164, 230), rgba(117, 164, 230, 0.4)); 
    font-size: 1.15em;
    text-align: justify;
    font-family: "Lato", sans-serif;
}

#title {
    color:  rgb(186, 133, 9);
    font-family: "Sarabun", sans-serif;
}

.subtitle {
    color: rgb(200, 148, 30);
    font-family: "Sarabun", sans-serif;
}

#service-image {
    height: 400px; /*Ignore this*/
    width: 70vw; /*Ignore this*/

    background: radial-gradient(circle, red 30%, blue 40%, green 50%); 
    
}

#about-us-image {
    height: 300px;
    width: 60%;
}

.link {
    text-decoration: underline;
}

.italics {
    font-style:  italic;
}